@import "styles/util/base";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: $heightHero;
  margin-top: -$heightNavBar;

  .containerContent {
    width: $widthCenter;
    display: flex;
    flex-direction: row;
    z-index: 1;

    @media only screen and (max-width: 600px) {
      width: 100%;
    }

    .containerText {
      width: 30rem;
      display: flex;
      flex-direction: column;

      .containerLogo {
        width: 100%;
        height: 13rem;
        margin-bottom: 1rem;
        position: relative;
      }

      .textTitle {
        color: white;
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 1rem;
      }

      .textDescription {
        color: white;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }

      .containerLinks {
        .containerNetworks {
          display: flex;
          flex-direction: row;
          margin-bottom: 0.5rem;

          .containerSocial {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 1rem;

            .containerSocialLogo {
              display: flex;
              width: 1.5rem;
              height: 1.5rem;
              margin-right: 0.5rem;
              position: relative;
            }
          }
        }

        .textSocialLink {
          color: white;
        }
      }
    }
  }
}
