@import "styles/util/base";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: $heightHero;

  @media only screen and (max-width: $ssMobile) {
    padding: $heightNavBar + 1rem 0;
    height: auto;
  }

  .containerContent {
    width: $widthCenter;
    display: flex;
    flex-direction: row;
    z-index: 1;

    @media only screen and (max-width: $ssTablet) {
      padding: 0 2rem;
      width: 100%;
    }
  }
}
