@import "styles/util/base";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  @media only screen and (max-width: $ssTablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .imgContainer {
    position: absolute;
    width: $widthPics;
    height: $heightPics;
    border: $borderWidthImages $colorAccent solid;
    background-color: $colorAccent;
    border-radius: 0 0.8rem 0 0.8rem;
    overflow: hidden;
    transition: all 1s;

    @media only screen and (max-width: $ssTablet) {
      position: relative;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }

    .imgContainerWrapper {
      position: relative;
      width: $widthPics;
      height: $heightPics;
    }
  }

  .imgContainer:hover {
    z-index: 2 !important;
    transform: scale(1.2) !important;
  }

  @media only screen and (min-width: $ssTablet) {
    $spacing: 6.7rem;
    .imgContainer:nth-child(1) {
      margin-left: 3rem;
      transform: rotate(15deg);
      z-index: 1;
    }
    .imgContainer:nth-child(2) {
      margin-top: $spacing;
      margin-left: -3rem;
      border-radius: 0.8rem 0 0.8rem 0;
      transform: rotate(-8deg);
      z-index: 1;
    }
    .imgContainer:nth-child(3) {
      margin-left: 3rem;
      margin-top: $spacing * 2;
      transform: rotate(5deg);
      z-index: 1;
    }
  }
}
