@import "styles/util/base";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $heightNavBar + 1rem 0;
  background-color: white;
  border-radius: 0 0 5% 5%;
  min-height: 600px;

  @media only screen and (max-width: $ssTablet) {
    border-radius: 0;
  }

  .containerContent {
    width: $widthCenter;
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: $ssTablet) {
      width: 100%;
      padding: 0 2rem;
      flex-direction: column;
    }

    .containerText {
      width: 60%;
      padding-right: 10%;
      display: flex;
      flex-direction: column;

      @media only screen and (max-width: $ssTablet) {
        width: 100%;
      }
    }
    .containerImages {
      width: 40%;

      @media only screen and (max-width: $ssTablet) {
        width: 100%;
      }
    }
  }
}

$heightPseudo: 10rem;
$widthPseudo: 25px;
.container::before {
  @media only screen and (max-width: $ssTablet) {
    display: none;
  }
  content: "";
  position: absolute;

  z-index: -1;
  background-color: transparent;
  margin-top: -1rem - $heightNavBar - $heightPseudo;
  height: $heightPseudo;
  left: 0;
  width: 100%;
  border-radius: 0 0 15% 15%;
  box-shadow: 0 3rem 0 0 white;
}
