@import "styles/util/base";

.container {
  width: 100%;
  padding: 1.5rem 0;
}

.blockContainer {
  margin-bottom: 1.5rem;

  .title {
    margin: 0.2rem 0;
  }
  .textDate {
  }
  .textLocation {
  }
  .textLink {
  }
}
