@import "styles/util/base";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: $heightNavBar;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: darken($colorAccent, 3);
  border-radius: 0 0 20% 20%;
  @media only screen and (max-width: $ssTablet) {
    border-radius: 0;
  }
  @media only screen and (max-width: $ssMobile) {
    height: auto;
  }

  .containerContent {
    width: $widthCenter;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 100%;

    @media only screen and (max-width: $ssTablet) {
      width: 100%;
    }

    @media only screen and (max-width: $ssMobile) {
      padding: 0;
    }

    .imgContainerLogo {
      position: relative;
      width: 2.4rem;
      height: 2.4rem;
      flex-shrink: 0;
      object-fit: scale-down;
    }
    ul {
      margin: 0;

      li {
        display: inline;
        margin: 0 1rem;
        a {
          font-family: $fontFamilyPrimary;
          font-size: 1.2rem;
          font-weight: bold;
          text-decoration: none;
          opacity: 0.8;
          color: white;
        }
        a:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
}
