@import "styles/util/base";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: $heightNavBar;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: darken($colorAccent, 3);
  border-radius: 0 0 20% 20%;

  .containerContent {
    width: $widthCenter;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @media only screen and (max-width: $ssTablet) {
      width: 100%;
    }

    .imgContainerLogo {
      position: relative;
      width: 2.4rem;
      height: 2.4rem;
      margin: 0 0 0.2rem 1rem;
    }
    ul {
      margin: 0;
      padding: 0 1rem;

      li {
        display: inline;
        margin: 0 1rem;
        a {
          font-family: $fontFamilyPrimary;
          font-size: 1.2rem;
          font-weight: bold;
          text-decoration: none;
          opacity: 0.8;
          color: white;
        }
        a:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
}
