@import "styles/util/base";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $heightNavBar + 1rem 0;
  background-color: white;

  .containerContent {
    width: $widthCenter;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }
}

$heightPseudo: 10rem;
$widthPseudo: 25px;
.container::before {
  content: "";
  position: absolute;

  z-index: -1;
  background-color: transparent;
  margin-top: -1rem -$heightNavBar - $heightPseudo;
  height: $heightPseudo;
  left: 0;
  width: 100%;
  border-radius: 0 0 20% 20%;
  box-shadow: 0 3rem 0 0 white;
}
