@import "styles/util/base";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
  flex-wrap: wrap;

  .dummyDiv {
    width: 33%;
  }
}
