@import "styles/util/base";

$size: 12rem;

.container:nth-child(3n - 2) {
  justify-content: flex-start;
}

.container:nth-child(3n) {
  justify-content: flex-end;
}

.container {
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;

  .containerWrapper {
    .imgContainer {
      position: relative;
      width: $size;
      height: $size;
      border-radius: 50% 50%;
      overflow: hidden;
      border: $borderWidthImages $colorAccent solid;
      margin-bottom: 0.5rem;
    }

    .textPosition {
      font-family: $fontFamilyPrimary;
      font-weight: bold;
    }
    .textName {
      font-weight: bold;
      margin-bottom: 0.3rem;
    }
    .textPronouns {
    }
    .linkEmail {
    }
  }
}
