@import "styles/util/base";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;

  .imgContainer {
    position: absolute;
    width: $widthPics;
    height: $heightPics;
    border: $borderWidthImages white solid;
    border-radius: 0 0.8rem 0 0.8rem;
    overflow: hidden;
    transition: all 1s;
  }

  .imgContainer:hover {
    z-index: 2 !important;
    cursor: pointer;
    transform: scale(1.2) !important;
  }

  $spacing: 7.5rem;
  .imgContainer:nth-child(1) {
    margin-left: 2rem;
    z-index: 1;
  }
  .imgContainer:nth-child(2) {
    margin-top: $spacing;
    border-radius: 0.8rem 0 0.8rem 0;
    z-index: 0;
  }
}
