@import "styles/util/base";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $heightNavBar + 1rem 0;
  color: white;

  .containerContent {
    width: $widthCenter;
    height: 100%;

    @media only screen and (max-width: $ssTablet) {
      width: 100%;
      padding: 0 2rem;
    }

    .containerMain {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: $widthPics * 1.5 auto;

      @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
      }

      .containerImages {
        height: 100%;
      }
      .containerText {
        font-size: large;
      }
    }
  }
}
